.souls-list-container(ng-init="init()")
  h4 Souls
  .control-ui-container
    button.btn.btn-default(ng-click="newSoul()") New Soul
  ul
    li(ng-repeat="soul in souls") 
      a(ng-click="editSoul(soul)")
        {{soul.name}} 
      span 
        button.btn.btn-sm(ng-click="removeSoul(soul)") X