.souls-list-container
  h4 Souls
  .control-ui-container
    button.btn.btn-default(ng-click="newSoul()") New Soul
    button.btn.btn-default Remove Selected Soul(s)
  ul
    li(ng-repeat="soul in souls")