header New Soul
form#new_soul
  label Soul Identification
  input(ng-model="newSoul.name")
  input(ng-model="newSoul.email")
  input(ng-model="newSoul.phone")
  footer
    button.btn.btn-default(ng-click="$close(newSoul)") Send through the Ether
    button.btn.btn-default(ng-click="$dismiss('not created')") Cancel