dark-beige = #E6E3AC
medium-beige = #E6E2AF
light-beige = #EFEBCA
navy-medium = #046280
navy-dark = #002F2F

body
  padding 5px 5px 5px 5px
  background-color dark-beige

.header,
.marketing,
.footer
  padding-left 15px
  padding-right 15px

.header
  border-bottom 1px solid navy-dark
  margin-bottom 30px
  background-color medium-beige
  h3
    margin-top 0
    margin-bottom 0
    line-height 40px
    padding-bottom 19px
    color navy-medium

.footer
  padding-top 19px
  color #777
  border-top 1px solid #e5e5e5

@media (min-width:768px)
  .container
    background-color light-beige

@media screen and (min-width: 768px)
  .header,
  .marketing,
  .footer
    padding-left 0
    padding-right 0

.container 
  border 1px solid navy-dark
