.home-container
  p Souls: {{souls.length}} &nbsp;
    span
      a.btn.btn-default(href="#/souls") View/Edit Souls
  p Gems: {{gems.length}}&nbsp;
    span
      button.btn.btn-default View/Edit Gems
  p Force: {{force}}&nbsp;
    span
      button.btn.btn-default View/Edit Force