block app-scripts
  script(src="scripts/app.js")
  script(src="scripts/controllers/main.js")
  script(src="scripts/controllers/soulslist.js")
  script(src="scripts/controllers/newsoul.js")
  script(src="scripts/services/sphere.js")
  script(src="scripts/services/community.js")
  script(src="scripts/services/soul.js")
  script(src="scripts/services/gem.js")
  script(src="scripts/services/force.js")
  script(src="scripts/services/value.js")